@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo&family=Spartan&display=swap");

/* Basic */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-family: "Exo", sans-serif;
}

html,
body,
.container {
  height: 100%;
  position: relative;
  text-align: center;
  color: white;
  background-color: #202020;
  background: linear-gradient(#0d324d, #7f5a83);
  /* background: linear-gradient(360deg, #485461 0%, #28313b 100%); */
}

/* Header */

header {
  padding: 0.625rem;
  text-transform: capitalize;
}

#title {
  letter-spacing: 0.2rem;
  padding: 0.3rem;
}

/* Gameboards */

.boards {
  padding: 10px;
  height: 70%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.grid {
  height: 100%;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  gap: 0.2rem;
  min-width: 28rem;
  height: 100%;
  border-radius: 0.5rem;
}

.left {
  background: radial-gradient(#09244b, #0b3b5c, #245c7c);
  border: 0.6rem solid steelblue;
}

.right {
  background: radial-gradient(#1d4a17, #1a570c, #33570d);
  border: 0.6rem solid limegreen;
}

.bot__grid {
  order: 2;
}

#leftCell {
  border: 1px solid steelblue;
  box-shadow: 0 0 0.3rem steelblue;
}

#leftCell:hover {
  box-shadow: 0 0 0.6rem steelblue;
  transition: all 0.3s;
}

#rightCell {
  border: 1px solid limegreen;
  box-shadow: 0 0 0.3rem limegreen;
  cursor: pointer;
}

#rightCell:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0.6rem limegreen;
  background-color: rgba(0, 255, 0, 0.3);
  transition: all 0.3s;
}

.ship {
  background-color: #3dd12e;
}

.hidden {
  border: 1px solid black;
  background-color: transparent;
}

.inactive {
  opacity: 0.3;
  transform: scale(0.9);
  transition: transform 0.5s;
}

.turn {
  transform: scale(1);
  transition: transform 0.5s;
  opacity: 1;
}

.hit {
  background-color: rgba(252, 38, 38, 0.8);
  box-shadow: 0 0 0.6rem red !important;
  border: 1px solid red !important;
}

.hit:hover {
  background-color: rgba(255, 34, 34, 0.7) !important;
  transform: scale(1) !important;
}

.miss {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4rem;
  background-color: #f3f3f3;
}

.miss:hover {
  transform: scale(1) !important;
  box-shadow: 0 0 0.6rem white !important;
  background-color: lightgray !important;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4rem;
  background-color: lightgray;
  opacity: 0.7;
}

.border:hover {
  transform: scale(1) !important;
  box-shadow: none !important;
  background-color: lightgray !important;
}

.hit,
.miss,
.border {
  cursor: default !important;
  transition: all 0.3s;
}

/* Menu & Buttons */

.middle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  order: 1;
}

.middle > * {
  margin: 0.5rem;
}

#subText {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
}

#current {
  font-size: 1.5rem;
}

#note {
  font-size: 0.9rem;
}

.btn {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  background-color: #5ec576;
  cursor: pointer;
  outline: none;
  margin-left: 0.2rem;
  margin-right: 0.2rem;
}

.btn:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}

.how {
  font-size: 1rem;
  padding: 0.4rem;
}

.random,
.rearrange,
.clear {
  font-size: 1.1rem;
}

/* Modals */

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  padding: 2rem;
  border-radius: 5px;
  box-shadow: 0 3rem 3rem rgba(0, 0, 0, 0.3);
  z-index: 10;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.game__over > p {
  font-size: 1.8rem;
  padding-bottom: 0.5rem;
}

#result {
  font-size: 1.3rem;
  padding-bottom: 0.8rem;
}

.how__to {
  width: 40%;
  padding: 3rem;
}

#story {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
  font-weight: 600;
}

#rule {
  padding: 0.2rem;
}

.rules {
  text-align: justify;
  font-size: 1.1rem;
  padding-top: 0.5rem;
}

.close__modal {
  position: absolute;
  right: 0.4rem;
  top: -0.4rem;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;
  outline: none;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

/* Rearranging */

.fleet {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.horrizontal {
  width: 12rem;
  flex-direction: row;
  justify-content: space-evenly;
}

.vertical {
  width: 10rem;
  flex-direction: column;
  justify-content: center;
}

.fleet__ship {
  display: flex;
  cursor: move;
}

.x__axis {
  height: 2.5rem;
  flex-direction: row;
}

.y__axis {
  flex-direction: column;
  margin: 0.375rem;
}

#ship__1 {
  flex-basis: 2.6rem;
}

#ship__2 {
  flex-basis: 5.2rem;
}

#ship__3 {
  flex-basis: 7.9rem;
}

#ship__4 {
  flex-basis: 10.6rem;
}

.fleet__cell {
  border: 2px solid steelblue;
  background-color: #3dd12e;
  flex-basis: 2.6rem;
}

.placed {
  background-color: transparent;
  border: 1px solid grey;
  cursor: no-drop;
}

.dragging {
  opacity: 0.5;
}

.valid {
  border: 2px solid limegreen !important;
}

.invalid {
  border: 2px solid red !important;
}

.hide {
  display: none;
  transition: all 0.3s;
}

/* Media Queries */

@media only screen and (min-width: 2000px) {
  .boards {
    height: 60%;
  }

  .gameboard {
    min-width: 55rem;
  }
}

@media only screen and (min-width: 1400px) {
  .fleet {
    min-width: 14rem;
  }

  .fleet__ship {
    height: 3.2rem;
  }

  #ship__1 {
    flex-basis: 3.18rem;
  }

  #ship__2 {
    flex-basis: 6.36rem;
  }

  #ship__3 {
    flex-basis: 9.54rem;
  }

  #ship__4 {
    flex-basis: 12.72rem;
  }
}

@media only screen and (max-width: 1400px) {
  .boards {
    height: 70%;
  }

  .gameboard {
    min-width: 28rem;
  }
}

@media only screen and (max-width: 1024px) {
  .boards {
    height: 60%;
  }

  .gameboard {
    min-width: 25rem;
    gap: 0rem;
  }

  .how__to {
    width: 50%;
  }

  .fleet__ship {
    height: 2.81rem;
  }

  #ship__1 {
    flex-basis: 2.375rem;
  }

  #ship__2 {
    flex-basis: 4.75rem;
  }

  #ship__3 {
    flex-basis: 7.125rem;
  }

  #ship__4 {
    flex-basis: 9.5rem;
  }
}

@media only screen and (max-width: 1024px) and (min-height: 1300px) {
  .boards {
    height: 35%;
  }

  .gameboard {
    min-width: 26rem;
  }
}

@media only screen and (max-width: 768px) {
  .boards {
    height: 60%;
  }

  .gameboard {
    min-width: 20rem;
    border-width: 0.4rem;
  }

  .btn {
    font-size: 1rem;
    padding: 0.3rem;
  }

  .how {
    font-size: 0.9rem;
  }

  .how__to {
    width: 65%;
    padding: 2.5rem;
  }

  #story {
    font-size: 1.1rem;
  }

  .rules {
    font-size: 1rem;
  }

  .game__over > p {
    font-size: 1.5rem;
  }

  #result {
    font-size: 1rem;
  }

  .fleet__ship {
    height: 1.9rem;
  }

  #ship__1 {
    flex-basis: 2.06rem;
  }

  #ship__2 {
    flex-basis: 4.12rem;
  }

  #ship__3 {
    flex-basis: 6.18rem;
  }

  #ship__4 {
    flex-basis: 8.24rem;
  }
}

@media only screen and (max-width: 600px) {
  header {
    padding: 0.3rem;
  }

  header > p {
    font-size: 1rem;
  }

  #title {
    font-size: 1.2rem;
    padding: 0.2rem;
  }

  .boards {
    flex-direction: column;
    height: 89%;
    padding: 0.2rem;
  }

  .middle {
    flex-direction: row;
  }

  .gameboard {
    min-width: 12rem;
    gap: 0rem;
    border-width: 0.3rem;
  }

  .grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    order: 2;
  }

  #current {
    font-size: 0.9rem;
  }

  #subText {
    font-size: 0.8rem;
  }

  .btn {
    font-size: 0.7rem;
    padding: 0.2rem;
  }

  .how {
    font-size: 0.8rem;
  }

  .how__to {
    width: 70%;
    padding: 2rem;
  }

  #story {
    font-size: 1rem;
  }

  .rules {
    font-size: 0.8rem;
  }

  .game__over {
    width: 40%;
  }

  .rearrange {
    display: none;
  }

  .miss,
  .border {
    font-size: 0.2rem;
  }

  .turn {
    transform: scale(0.95);
  }

  .turn,
  .inactive {
    transition: transform 0.7s;
  }
}

@media only screen and (max-width: 480px) {
  .how__to {
    width: 75%;
    padding: 2rem;
  }

  #story {
    font-size: 0.9rem;
  }

  .rules {
    font-size: 0.7rem;
  }

  .game__over {
    width: 60%;
  }
}

@media only screen and (max-width: 768px) and (min-height: 670px) {
  .boards {
    height: 35%;
  }

  .gameboard {
    min-width: 20rem;
  }
}

@media only screen and (max-width: 600px) and (min-height: 670px) {
  .boards {
    height: 70%;
  }

  .gameboard {
    min-width: 15rem;
  }
}
