@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Exo&family=Spartan&display=swap");

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
  position: relative;
  font-family: "Poppins", sans-serif;
  font-family: "Exo", sans-serif;
}

html,
body,
.container {
  height: 100%;
  position: relative;
  text-align: center;
  color: white;
  background-color: #202020;
  background: linear-gradient(#0d324d, #7f5a83);
  /* background: linear-gradient(360deg, #485461 0%, #28313b 100%); */
}

header {
  padding: 10px;
  text-transform: capitalize;
}

/* need different hovers on missed, hit & untouched cells */
/* Need animations for ship hits */
/* Need Boards to shrinks & grow according to tunrs */
/* Dark background, game font */
/* Modals for game over */
/* Need to display whose tunr is it */
/* Different colors for each board */
/* Display ship data */
/* How to play modal */

#title {
  letter-spacing: 0.2rem;
  padding: 0.3rem;
}

.boards {
  padding: 10px;
  height: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.grid {
  height: 100%;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  width: 450px;
  height: 100%;
  border-radius: 0.5rem;
}

.left {
  background: radial-gradient(#09244b, #0b3b5c, #245c7c);
  border: 0.6rem solid steelblue;
}

.right {
  background: radial-gradient(#000000, #0e3605, #33570d);
  border: 0.6rem solid limegreen;
}

.cell {
  border: 1px solid black;
}

#leftCell {
  border: 1px solid steelblue;
  box-shadow: 0 0 0.3rem steelblue;
}

#leftCell:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0.6rem steelblue;
  transition: all 0.3s;
}

#rightCell {
  border: 1px solid limegreen;
  box-shadow: 0 0 0.3rem limegreen;
}

#rightCell:hover {
  transform: scale(1.1);
  box-shadow: 0 0 0.6rem limegreen;
  transition: all 0.3s;
}

.ship {
  background-color: whitesmoke;
}

.hidden {
  border: 1px solid black;
  background-color: transparent;
}

.inactive {
  opacity: 0.3;
}

.hit {
  background-color: red;
}

.miss {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4rem;
  background-color: lightgray;
}

.border {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.4rem;
  background-color: lightgray;
  opacity: 0.5;
}

#subText {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem;
}

.reset {
  padding: 0.5rem;
  font-size: 1.2rem;
  font-weight: 500;
  border: none;
  background-color: #5ec576;
  cursor: pointer;
}

.reset:hover {
  transform: scale(1.1);
  transition: all 0.3s;
}
